<div class="banner-section">
  <div class="banner">
    <div class="intro">
      <h1 class="title">I AM AHMAD</h1>
      <h2 class="subtitle">A SOFTWARE DEVELOPER IN NIGERIA</h2>

      <button class="project">Get a project?</button>
      <button class="hire-me">Hire me</button>
    </div>
    <div class="social-card youtube">
      <div class="icon-text">
        <a href="https://www.youtube.com/abunnazeer" target="_blank">
          <img src="assets/icons/youtube.png" alt="" />
          <h2>Youtube</h2>
        </a>
      </div>
      <p>New videos every week.</p>
    </div>
    <div class="social-card github">
      <div class="icon-text">
        <a href="https://github.com/abunnazeer" target="_blank">
          <img src="assets/icons/github.png" alt="" />
          <h2>Github</h2></a
        >
      </div>
      <p>Check my repo for more.</p>
    </div>
    <div class="social-card handle">
      <div class="icon-text">
        <img src="assets/icons/handles.png" alt="" />
        <h2>Find me on</h2>
      </div>
      <button>
        <a href="https://twitter.com/abunnazeer" target="_blank">Twitter</a>
      </button>
      <button>
        <a href="https://www.instagram.com/abunnazeer" target="_blank"
          >Instagram</a
        >
      </button>
      <button>
        <a href="https://www.linkedin.com/in/abunnazeer" target="_blank">
          Linkedin</a
        >
      </button>
    </div>

    <div class="social-card news-letter">
      <div class="icon-text">
        <img src="assets/icons/newsletter.png" alt="" />
        <h2>News letter</h2>
      </div>
      <input
        type="email"
        name="newsletter"
        id=""
        placeholder="Your email here"
      />
      <button>Subscribe</button>
    </div>
  </div>
</div>
