<%- include('header') -%>

<!-- header  start-->

<div class="main-container config__container">
  <div class="logo__form">
    <form action="/config" method="post" enctype="multipart/form-data">
      <label for="logo">Upload Logo</label>
      <input type="file" name="logoimg" id="" />
      <button type="submit">Save</button>
    </form>
  </div>

  <div class="menu__form">
    <form action="/config" method="post">
      <input type="text" name="menu" placeholder="menu" />
      <button type="submit">Save</button>
    </form>
  </div>
  <div class="special__menu">
    <form action="/config" method="post">
      <input type="text" name="menuspecial" placeholder="Special menu" />
      <button type="submit">Save</button>
    </form>
  </div>

  <div class="footer__copyright">
    <form action="/config" method="post">
      <input type="text" name="copyright" placeholder="Copyright here" />
      <button type="submit">Save</button>
    </form>
  </div>
</div>

<%- include('footer') -%>
