<!-- header  start-->

<%- include('header') -%>
<!-- header ends -->
<!-- Banner start -->
<%- include('banner') -%>

<!-- banner ends -->

<!-- Years of experience and field of expertise-->
<div class="main-container">
  <div class="experience-box">
    <div class="experience">
      <h3 class="ex-duraton">3+</h3>
      <p>Years working Experience</p>
    </div>

    <div class="experience default">
      <img src="assets/icons/front-end.png" alt="" />
      <h3>Software Dev</h3>
      <p>React,Node js, MongoDb</p>
    </div>
    <div class="experience default">
      <img src="assets/icons/mobile-app.png" alt="" />
      <h3>Mobile App</h3>
      <p>Flutter, Dart, React Native</p>
    </div>
  </div>

  <!-- <h1>I am using the following</h1>
      <div class="tool-kit">
        <h5>Javascript</h5>
        <h5>Node Js</h5>
        <h5>HTML 5</h5>
        <h5>CSS 3</h5>
        <h5>Bootstrap</h5>
        <h5>Figma</h5>
        <h5>JQuery</h5>
        <h5>React Js</h5>
      </div> -->

  <div class="skills-experience">
    <div>
      <h1 class="big-title">Skills & Experience</h1>
      <p id="ex-desc">
        A professional front-end developer with experience in developing
        enterprise web and mobile applications and passionate about building
        cutting edge technology solution
      </p>
    </div>
    <!-- working experience -->
    <div class="working-experience-box">
      <h1 class="skills-title">Working Experience</h1>
      <div class="working-experience">
        <div class="year-activities">2019 - Present</div>
        <div class="job-position">
          <h3>Front End Developer</h3>
          <p>Cerebro System limited</p>
        </div>
      </div>
      <div class="working-experience">
        <div class="year-activities">2019 - Present</div>
        <div class="job-position">
          <h3>Web Developer</h3>
          <p>Inception Technology Limited</p>
        </div>
      </div>
      <div class="working-experience">
        <div class="year-activities">2019 - Present</div>
        <div class="job-position">
          <h3>Junior Mobile App Developer</h3>
          <p>Vs Cloud Technology limited</p>
        </div>
      </div>
      <div class="working-experience">
        <div class="year-activities">2019 - Present</div>
        <div class="job-position">
          <h3>Front End Developer</h3>
          <p>Self Employed</p>
        </div>
      </div>
    </div>
  </div>
  <!-- skills list  -->
  <h1 class="skills-title">Skills</h1>
  <div class="skills">
    <div class="skill-box">
      <div class="skill-icon">
        <img src="assets/icons/js.png" alt="" />
      </div>
      <h3>Javascript</h3>
    </div>
    <div class="skill-box">
      <div class="skill-icon">
        <img src="assets/icons/atom.png" alt="" />
      </div>
      <h3>React Js</h3>
    </div>
    <div class="skill-box">
      <div class="skill-icon">
        <img src="assets/icons/bootstrap.png" alt="" />
      </div>

      <h3>Bootstrap</h3>
    </div>
    <div class="skill-box">
      <div class="skill-icon">
        <img src="assets/icons/css.png" alt="" />
      </div>
      <h3>CSS 3</h3>
    </div>
    <div class="skill-box">
      <div class="skill-icon">
        <img src="assets/icons/html-5.png" alt="" />
      </div>

      <h3>HTML 5</h3>
    </div>
    <div class="skill-box">
      <div class="skill-icon">
        <img src="assets/icons/jquery.png" alt="" />
      </div>

      <h3>JQuery</h3>
    </div>
    <div class="skill-box">
      <div class="skill-icon">
        <img src="assets/icons/nodejs.png" alt="" />
      </div>

      <h3>Node Js</h3>
    </div>
    <div class="skill-box">
      <div class="skill-icon">
        <img src="assets/icons/figma.png" alt="" />
      </div>
      <h3>Figma</h3>
    </div>
    <div class="skill-box">
      <div class="skill-icon">
        <img src="assets/icons/flutter.png" alt="" />
      </div>
      <h3>Flutter</h3>
    </div>
  </div>

  <!-- <div class="img-skill">
        <img src="assets/img/abdullahi.jpeg" alt="" />
      </div> -->
</div>

<!-- latest project -->
<div class="latest-projects">
  <div class="main-container">
    <h1 class="title">Latest Projects</h1>
    <div class="project-container">
      <div class="project-box">
        <a href="#">
          <img src="assets/img/projects/core-working.jpg" alt="" />
          <div class="overlay">
            <h2 class="project-title">Core-working Space</h2>
          </div>
        </a>
      </div>

      <div class="project-box">
        <a href="#">
          <img src="assets/img/projects/hosting-page.png" alt="" />
          <div class="overlay">
            <h2 class="project-title">Core-working Space</h2>
          </div>
        </a>
      </div>
      <div class="project-box">
        <a href="#">
          <img src="assets/img/projects/ecommerece.png" alt="" />
          <div class="overlay">
            <h2 class="project-title">Core-working Space</h2>
          </div>
        </a>
      </div>
      <div class="project-box">
        <a href="#">
          <img src="assets/img/projects/core-working.jpg" alt="" />
          <div class="overlay">
            <h2 class="project-title">Core-working Space</h2>
          </div>
        </a>
      </div>
    </div>
    <a href="" class="custom-btn">View More</a>
  </div>
</div>
<!-- Client list  example people that i have work for-->
<div class="clients-section">
  <div class="clients-box">
    <div class="client-box">
      <img src="assets/img/clients/walwanne-logo.png" alt="" />
    </div>
    <div class="client-box">
      <img src="assets/img/clients/kanem.jpg" alt="" />
    </div>
    <div class="client-box">
      <img src="assets/img/clients/Inception-logo.png" alt="" />
    </div>
    <div class="client-box">
      <img src="assets/img/clients/vscloud.png" alt="" />
    </div>
    <div class="client-box">
      <img src="assets/img/clients/multiaid.png" alt="" />
    </div>
    <div class="client-box">
      <img src="assets/img/clients/ruwasalogo.png" alt="" />
    </div>
  </div>
  <div class="client-text">
    <h1>My clients</h1>
    <p>
      I design with our clients as much as I design for them. I am proud to have
      contributed to the success in there business
    </p>
    <a href="" class="custom-btn">See what they've said</a>
  </div>
</div>
<!-- Testimonial -->
<div class="testimonial">
  <div class="main-container">
    <div class="testimo-header">
      <div class="testimo-nav-control">
        <button class="previous">←</button>
        <button class="next">→</button>
      </div>
      <h1>Client's review</h1>
      <p>
        I seek to push the limits of creativity to create high-engagin,
        user-friendly solution
      </p>
    </div>
    <div class="testimo-body-container">
      <div class="testimo-body">
        <div class="hr-line">
          <span>“</span>
          <hr />
        </div>

        <p class="testimo-text">
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly used to demonstrate the visual form of a document or a
          typeface without relying on meaningful content.
        </p>
        <div class="client">
          <div class="client-icon">😍</div>
          <div class="client-name">
            <h3>Ahmad Abdullahi</h3>
            <p>CEO Mobile Robtic</p>
          </div>
        </div>
      </div>
      <div class="testimo-body">
        <div class="hr-line">
          <span>“</span>
          <hr />
        </div>

        <p class="testimo-text">
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly used to demonstrate the visual form of a document or a
          typeface without relying on meaningful content.
        </p>
        <div class="client">
          <div class="client-icon">😍</div>
          <div class="client-name">
            <h3>Ahmad Abdullahi</h3>
            <p>CEO Mobile Robtic</p>
          </div>
        </div>
      </div>
      <div class="testimo-body">
        <div class="hr-line">
          <span>“</span>
          <hr />
        </div>

        <p class="testimo-text">
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly used to demonstrate the visual form of a document or a
          typeface without relying on meaningful content.
        </p>
        <div class="client">
          <div class="client-icon">😍</div>
          <div class="client-name">
            <h3>Ahmad Abdullahi</h3>
            <p>CEO Mobile Robtic</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- contact me section -->
<div class="contact-me">
  <div class="main-container" id="letstalk">
    <h1 class="contact-title">Let's Discuss Your Project</h1>
    <form class="form-box">
      <div class="contact-style form-setting">
        <input type="text" placeholder="Your name" />
      </div>
      <div class="contact-style form-setting">
        <input type="text" placeholder="Your email" />
      </div>
      <div class="contact-style form-setting">
        <textarea
          name=""
          id=""
          cols="58"
          rows="10"
          placeholder="Project details"
        ></textarea>
      </div>
    </form>
  </div>
</div>

<%- include('footer')-%>
